# Verifying Set_Value

In [13]:
import pandas as pd

In [14]:
dfgm = pd.read_csv("basic_data.csv")
dfgm.fillna('', inplace=True)

In [15]:
dfgm

,convoLabel,firstGuestMessageLower,Query Number
0,lead,hello,0
1,nolead,what is nmac apr customer cash?,0
2,noresponse,i'm just look atm thanks anyway,0
3,nolead,looking for a used murano for my mother in law,0
4,nolead,are you open today,0
5,noresponse,hey,0
6,noresponse,on the special for the brake job are those the...,0
7,nolead,hello,0
8,nolead,hello,0
9,noresponse,i need an oil change today,0
10,noresponse,are you open today,0
11,nolead,i need to know the transmission of a certain v...,0
12,noresponse,hi,0
13,lead,looking for lease options yes,0
14,lead,i am interested in lease options,0
15,nolead,hello! i am interested in trade in my honda ci...,0

In [17]:
df_2 = dfgm[
(dfgm['firstGuestMessageLower'].str.match('(?i)^\W*hello\W*$'))].index.tolist()

df_2

[0, 7, 8]

In [18]:
# where is dfresult coming from?
for l in df_2:
    print(l)
    dfresult.set_value(l,'Query Number',0.01)
    print(dfresult.at[l,'Query Number'])
    print(dfresult.at[l,'Query Number'])

0

NameError: name 'dfresult' is not defined